.Rhistory
.RData
.Rprofile
.Rproj.user/
.Rproj
.Ruserdata
.DS_Store


*.Rcheck/
*.o
*.so
*.dll
*.tar.gz
/build/


*_files/
/vignettes/*.html
/vignettes/*.pdf
/inst/doc/

inst/extdata/TWN30MDTM.tif
.Rbuildignore.local
